* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

.Budget p {
  padding-top: 150px;
  padding-left: 24px;
  font-size: 22px;
  color: #2c3e50;
  font-weight: 600;
}

h2 {
  padding-top: 10px;
  padding-left: 24px;
  font-size: 60px;
  font-weight: 800;
  color: #2ecc71;
  text-shadow: 4px 4px 3px #2c3e507c;
}

h2.negative {
  color: #e74c3c;
}

h3 {
  font-size: 25px;
  font-weight: 800;
  color: #2c3e50;
}

.App {
  width: 100%;
  height: 100vh;
  background-color: #3498db;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.Budget {
  height: 300px;

}

.ExpenseList {
  flex: 1;
  background-color: #ecf0f1;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 25px;
  transition: transform 0.5s ease;
}

.ExpenseList.unfocus {
  transform: scale(0.9);
}

.ExpenseHeading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.ExpenseHeading p {
  margin-left: auto;
  color: #e74c3c;
  font-weight: 800;
  font-size: 22px;
}

.Expense {
  display: flex;
  justify-content: space-between;
  padding: 5px 0 5px 0;
}

.Expense .Name {
  color: #2c3e50;
}

.Expense .Amount {
  margin-left: auto;
  color: #e74c3c;
  font-weight: 800;
  font-size: 16px;
}

.AddExpenseBtn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  outline: none;
  border: none;
  border-radius: 100%;
  width: 40px;
  height: 40px;
}

.AddExpense {
  position: absolute;
  bottom: 0;
  height: 0;
  background-color: #ecf0f1;
  width: 100%;
  transition: height 0.5s ease;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  box-shadow: 0 -5px 30px rgba(0, 0, 0, 0.3);
}

.AddExpense.active {
  height: 90%;
  display: block;
}

.AddExpense .Close {
  outline: none;
  border: none;
  border-radius: 100%;
  width: 40px;
  height: 40px;
}